


  


  	<div style=' background-color:#DB8400;opacity: 0.3; display:block;height:400px;width:70%;border-radius : 10px 10px 10px 10px;'>

  	</div> 
  	<!-- background transparant -->


  <div style='position:relative;right: -22px;top:-375px;z-index:1;'> 
		<!-- disini tempat foto atas -->

		<div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px; float:left;'>1</div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px; float:left;'>2</div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px; float:left;'>3</div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px; float:left';>4</div> 
		</div>
		<div style='clear:both;'></div>
		<div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px; float:left;'>1</div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px; float:left;'>2</div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px; float:left;'>3</div>
			<div style='border:1px solid black; width:50px; height:50px; margin:10px;float:left';>4</div> 
		</div>
		<!-- disini tempat foto bawah -->


 </div> <!-- isi -->


