


  


  <div style=' background-color:#DB8400;opacity: 0.3; display:block;height:400px;width:70%;border-radius : 10px 10px 10px 10px;'>

  </div> 
  <!-- background transparant -->


  <div style='position:relative;right: -22px;top:-375px;z-index:1;'> 


<div class='row'>
	<h1 id='mainindex'>Mari Berpesta Makanan !!!</h1>

	<p id='mainindex'> aaaaaaaaaaaaaaaaaaaaaaa</p>
	<p>aaaaaaaaaaaaaaaaaaaaaaa</p>
</div>


 </div> <!-- isi -->