<h1>Editing restaurant</h1>

<%= render 'form' %>


<div style='margin-top:25px;'>
<div style='width:80px;margin-right: 25px;float:left;'>
<%= link_to 'Show', @restaurant,class:"btn btn-default btn-block btn-inverse",style:'color:white';%> 
</div>
<div style='width:80px;margin-right: 25px;float:left;'>
<%=  link_to 'Back', restaurants_path,class:"btn btn-default btn-block btn-inverse",style:'color:white';%>
</div>
</div>






