<h1>Editing restaurant</h1>

<%= render 'form' %>

<%= link_to 'Show', @restaurant,class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;' %> 
<%= link_to 'Back', restaurants_path,class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;' %>
