<h1> New restaurant </h1>

<%= render 'form'%>
<div style='width:80px;margin-right: 25px;float:left;'>
		<%= link_to 'Back', restaurants_path,class:"btn btn-default btn-block btn-inverse", style:'width:80px;margin-right: 25px;color:white;'%>
</div>
</div>

