<h1>Editing category</h1>

<%= render 'form' %>

<tr>
<td>
<%= link_to 'Show', @category,class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;' %> 
<%= link_to 'Back', categories_path,class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;' %>
</td>
</tr>