<h1> New category </h1>

<%= render 'form'%>
<div style='width:80px;margin-right: 25px;float:left;'>
<%= link_to 'Back', categories_path,class:"btn btn-default btn-block btn-inverse", style:'width:80px;color:white;'%>
</div>