<h1>Editing product</h1>

<%= render 'form' %>


<%= link_to 'Show', @product,class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;' %> |
<%= link_to 'Back', products_path,class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;' %>



