
<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='span12'>
				<div id='footer'>
					<div class='row-fluid'>
						<div class='span12'>
							<div id="footertext">
								<p>Terimakasih</p>

								<p>©Copyright by Adli Anugrah</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
</div>
